.header1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    height: calc(50px + 5vh);
    font-family: 'Open Sans', sans-serif;
}

.header1 > *:not(:first-child) {
    margin-left: 2%;
}

.header1 > * {
    min-width: fit-content;
}

.logoArea {
    display: flex;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-variant: small-caps;
    font-size: calc(18px + 16 * (100vw / 1280));
}

.logoArea > img {
    transform: scale(-1, 1);
    width: calc(18px + 36 * (100vw / 1280));
}

.logoArea p {
    margin-right: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--main-color);
}

.contacts p {
    color: var(--main-color);
    font-size: calc(16px + 10 * (100vw / 1280));
    min-width: fit-content;
}

.contacts h1 {
    font-size: calc(16px + 10 * (100vw / 1280));
}

.location {
    display: flex;
    align-items: center;
}

.address {
    color: var(--main-color);
    margin-left: 5%;
    width: 150px;
    font-size: 16px;
}

.schedule {
    display: flex;
    align-items: center;
}

.schedule p {
    margin-left: 5%;
    width: 200px;

    color: var(--main-color);
}

@media (min-width: 2000px) {
    .header1 {
        width: 1920px;
    }
}

@media (max-width: 1160px) {
    .logoArea {
        display: none;
    }

    .logoArea > img {
        display: none;
    }
}