.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    padding: 2%;
    gap: 10px;

    flex-grow: 1;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--lighterGray-color);
}

.roundIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--background);

    width: 65px;
    height: 65px;

    background: var(--main-color);
    border-radius: 50%;
}
.wrapper h1 {
    white-space: nowrap;

    color: var(--lighterBlack-color);
    font-size: 26px;
    font-weight: 500;
}
.wrapper h2 {
    color: var(--lighterBlack-color);

    font-size: 16px;
    font-weight: normal;
}
.wrapper p {
    white-space: break-spaces;

    font-size: 19px;
}

.wrapper button {
    width: 100px;
    height: 40px;

    background: var(--main-color);
    border:none;
    outline: none;
    border-radius: 5px;

    color: white;
    font-weight: 500;
    cursor: pointer;

    transition: background 0.3s ease 0s;
}
.wrapper button:hover {
    background: var(--main-color-darker);
}
