.wrapper {
    position: relative;
    width: 100%;
    height: 55px;
}

.wrapper input {
    padding-top: 15px;

    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    font-size: 16px;

    border-bottom: 2px solid black;
}

.wrapper span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-25%);

    cursor: pointer;

    transition:all 0.3s ease 0s ;
}
.wrapper span:hover {
    color: var(--main-color);
}

.wrapper p {
    position: absolute;
    top: 50%;

    user-select: none;
    pointer-events: none;

    font-size: 14px;

    transition: all 0.3s ease 0s;
}
.wrapper input:focus ~ p {
    top: 0;
    transform: unset;

    font-size: 12px;
    color: var(--main-color);
}
.wrapper input:valid ~ p {
    top: 0;
    transform: unset;

    font-size: 12px;
    color: var(--main-color);
}

.wrapper hr {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    filter: opacity(0);

    border: 1px solid var(--main-color);

    transition: all 0.3s ease 0s;
}
.wrapper input:focus ~ hr {
    width: 100%;
    filter: opacity(1);
}
.wrapper input:valid ~ hr {
    width: 100%;
    filter: opacity(1);
}