@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import-normalize;

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    --main-color: #4ca2cb;
    --main-color-darker: #3182a2;
    --background: #f4eded;
    --inactive-color: #9e9ea2;
    --lighterGray-color: #f5f5f6;
    --lighterBlack-color: #3b3b3b;
}
img {
    user-select: none;
}
a {
    text-decoration: none;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 1300px;
    height: 100%;

    background: var(--background);
}

.cardArea {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    width: 100%;
    height: calc(30% - 120px);
    min-height: 300px;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4ca2cb;
    border: 1px solid #f4eded;
    border-radius: 5px;
}
