@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import-normalize;

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#root {
    --main-color: #4ca2cb;
    --main-color-darker: #3182a2;
    --background: #f4eded;
    --inactive-color: #9e9ea2;
    --lighterGray-color: #e5e5e5;
    --lighterBlack-color: #3b3b3b;
}
img, button {
    user-select: none;
}
a {
    text-decoration: none;
}


.wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}

.cardArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;

    padding: 20px;
}

@media (min-width: 1921px) {
    .wrapper {
        left: 50%;
        transform: translateX(-50%);

        width: 1920px;
    }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4ca2cb;
    border: 1px solid #f4eded;
    border-radius: 5px;
}