.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;

    width: 100%;
    min-height: 70px;
    max-height: 70px;

    border-top: 1px solid var(--lighterGray-color);
}
.header img {
    height: 80%;
    width: 180px;
}

.linksArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    width: fit-content;
    min-width: fit-content;
    height: 100%;

    list-style: none;
}
.linksArea li {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    height: 100%;
    width: fit-content;
    min-width: fit-content;

    transition: color 0.2s ease 0s;
    white-space: nowrap;
}
.linksArea li:hover {
    color: var(--main-color);
}

@media (max-width: 1050px) {
    .header {
        min-height: unset;
        max-height: unset;

        padding: 0 20px;
    }
    .header img {
        display: none;
    }

    .linksArea {
        align-items: flex-start;
        justify-content: center;
        padding: 20px;

        width: 100%;
        min-width: 100%;
    }

    .linksArea li {
        height: 50px;

        padding: 5px;

        border: 1px solid var(--background);
        border-radius: 5px;
    }
}