.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3%;

    width: 100%;
    height: calc(40px + 5vh);

    background: teal;
    font-family: 'Open Sans', sans-serif;
}

.linksArea {
    height: 100%;
    list-style: none;

    display: flex;
}

.linksArea li:not(:first-child) {
    margin-left: 10%;
}

.linksArea li {
    position: relative;

    display: flex;
    align-items: center;

    color: white;
    cursor: pointer;

    font-size: calc(14px + 4 * (100vw / 1280));
    height: 100%;
}

.slider {
    cursor: default;

    position: absolute;
    bottom: -15%;

    width: 100%;
    height: 20px;

    border-radius: 20px;
    background: white;
}

.pagesLink {
    position: relative;

    display: flex;
    align-items: center;

    transition: all 0.3s ease 0s;
}

.pagesLink:hover span {
    transform: translateY(50px);
    filter: opacity(0);
}

.dropDownList {
    cursor: default;
    position: absolute;

    top: 100%;
    left: 0;

    min-width: fit-content;
    width: 300%;
    height: 0;

    background: teal;

    transition: all 0.3s ease 0s;
}

.dropElem {
    display: none;
    align-items: center;
    justify-content: center;

    height: 90px;
    width: 100%;

    border-top: 1px solid #006464;

    transition: all 0.3s ease 0s;
}

.dropElem:first-child {
    border: none;
}

.dropElem:hover {
    background: lightseagreen;
}

.pagesLink:hover .dropElem {
    display: flex;
}

.pagesLink:hover .dropDownList {
    height: fit-content;
}


@media (min-width: 2000px) {
    .header-2 {
        width: 1920px;
    }
}